*{margin: 0;padding: 0;}

.barra{list-style-type:none; padding: 10px; margin: 10px;}
.nav{display: flex;justify-content: flex-end;flex-wrap: wrap;}
.gridContainer{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto auto auto auto auto;
	grid-template-areas:
	"header header"
	"imagenPrincipal imagenPrincipal"
	"main main"
	"footer footer";
}
header{grid-area: header;display: flex;border-bottom: solid 1px lightblue;background-color: aliceblue;position: sticky;top: 0;}
.imgPrincipal{grid-area:imagenPrincipal;}
.encabezado{grid-area: encabezado;text-align: center; padding: 20px 0;}
main{grid-area: main;}
.texto{grid-area: texto; padding: 30px;}
.img{grid-area: img; padding: 10px; display: block; flex-direction: row; justify-content: end}
footer{grid-area: footer;display: flex;justify-content: space-around;margin-top: 50px;border-top: solid 1px lightblue;background-color: aliceblue;padding: 20px 0;}
.imgPrincipal img, .img img{width: 100%;}
nav{width: 100%;}

.overflow{
	overflow: hidden; 
}
.mover_imagen-servicios{
	display: flex;  
	flex-direction: row; 
   justify-content: center;
}
h3, p{
	font-family: "comic sans ms";
}
.padding{
	padding: -3px 50px;
}
.margin{
	margin: 50px;
}
.margin-50{margin: 30px;}
/*GRID MAIN*/
.gridMain{
    display: grid;
    grid-template-areas: 
    "txtMain imgMain";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
@media only screen and (max-width: 768px){
	body .gridIndex{background-color: green}
    header, footer{flex-direction: column;}
    li{padding: 5px;}
    ul{padding: 0;}
	.gridMain{
		display: flex;
		flex-direction: column;
	}
}

.imgMain{grid-area: imgMain;display: flex; justify-content: center;}
.txtMain{grid-area: txtMain; padding: 15;margin: 15;}

.gradient{
	background-image: linear-gradient(white,lightblue,blue);
}

/*ANIMACION NAV*/
.transition{
	width: 100px;
	transition: all 1s;
}
.transition:hover{
	width: 200px;
	cursor: pointer;
	font-size: 20px;
}

/*PRODUCTO MAS VENDIDOS*/
.letraTipoProducto{
	padding: 20px;
    text-align: center;
    margin-bottom: 20px;  
    margin-right: 60px;    
    font-family: "Open Sans", cursive;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4rem;
    text-shadow: 0 0 10px #e68b41;
    color: #206dd1;
}

.centrar{
    text-align: center;
    justify-content: space-between;
}

.contenedorFlex3{

    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.contenedorFlex3__box2{
    margin-left: 3px;
    margin-right: 8px;
    width: 500;
    border: .32cm solid #206dd1;
    border-radius: 20%;
    text-align: center;
}

/*ANIMACION LOGO HEADER*/
@keyframes movimiento{
	0%{transform: translateX(100px);}
	25%{transform: skew(60deg,60deg);}
	50%{transform: rotate(45deg);}
	75%{transform: translate(100px, 100px);}
	100%{transform: scale(2,0);}
}
.animacionImg{
	animation-name: movimiento;
	animation-iteration-count: 1;
	animation-duration: 2s;
}


/*contactanos*/
.bajar{
    margin-top: 60px;
    margin-bottom: 60px;
}
.letraTipoEntrenamiento{
    text-align: center;
    margin-bottom: 20px;  
    margin-right: 60px;    
    font-family: "Open Sans", cursive;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4rem;
    text-shadow: 0 0 10px #e68b41;
    color: #206dd1;
}
.contenedorContactenos{
    text-align: center;
    display: flex;
    width:600px;
    height: 500px;
    justify-content: center;
    align-items:center;
    margin-bottom: 60px;
    color:white;
    background-image: url("../assets/img/fondoFormulario.jpg");
    border-radius: 15%;
    margin-left: 350px;
}
.contenedorContactenos__formulario{
    width:490px;
    height: 600px;
    margin-top: 120px;
    margin-left: 8px;
}
.botonFormulario{
    color:black;
    background:#78CDBE;
    border: .1em solid gray;
    width:130px;
    height:40px;
    display: inline-block;
    font-size: 15px;
    margin: 48px 20px;
    cursor: pointer;
}
.botonFormulario:hover{
    background-color: #e68b41;
}
textarea{
    height: 85px;
    width: 490px;
    border-width:2px;
}
input{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
}

/*NAVBAR*/
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 5.56rem;
}
header{
    z-index: 1;
}