.gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:
		"header header"
		"imagenPrincipal imagenPrincipal"
		"main main"
		"footer footer";
}

.imgPrincipal {
	grid-area: imagenPrincipal;
}

.encabezado {
	grid-area: encabezado;
	text-align: center;
	padding: 20px 0;
}

main {
	grid-area: main;
}

.texto {
	grid-area: texto;
	padding: 30px;
}

.img {
	grid-area: img;
	padding: 10px;
	display: block;
	flex-direction: row;
	justify-content: end
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	border-top: solid 1px lightblue;
	background-color: aliceblue;
	padding: 20px 0;
}
@media only screen and (min-width: 220px) and (max-width: 768px){
	footer{
		text-align: center;
		align-items: center;
		justify-content:center;
	}
}
.imgPrincipal img,
.img img {
	width: 100%;
}

nav {
	width: 100%;
}

/*GRID MAIN*/
.gridMain {
	display: grid;
	grid-template-areas:
		"txtMain imgMain";
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

@media only screen and (max-width: 768px) {
	body .gridIndex {
		background-color: green
	}

	header,
	footer {
		flex-direction: column;
	}

	li {
		padding: 5px;
	}

	ul {
		padding: 0;
	}

	.gridMain {
		display: flex;
		flex-direction: column;
	}
}

.imgMain_soporte_tenico {
	grid-area: imgMain;
	justify-content: center;
	padding-top: 40px;
	margin: 2%;
}

.imgMain_soporte_tecnico_2 {
	grid-area: imgMain;
	justify-content: center;
	padding-top: 640px;
	margin: 2%;
}

@media only screen and (min-width: 228px)and (max-width:269px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 20px;
	}
}

@media only screen and (min-width: 270px)and (max-width:768px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 20px;
	}
}

@media only screen and (min-width: 769px)and (max-width:795px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 350px;
	}
}

@media only screen and (min-width: 796px)and (max-width:830px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 370px;
	}
}

@media only screen and (min-width: 831px)and (max-width:848px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 370px;
	}
}

@media only screen and (min-width: 849px)and (max-width:950px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 500px;
	}
}

@media only screen and (min-width: 951px)and (max-width:1326px) {
	.imgMain_soporte_tenico {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 40px;
		margin: 5%;
	}

	.imgMain_soporte_tecnico_2 {
		grid-area: imgMain;
		justify-content: center;
		padding-top: 640px;
		margin: 5%;
	}
}


.txtMain {
	grid-area: txtMain;
	padding: 15;
	margin: 15;
}

.gradient {
	background-image: linear-gradient(white, rgb(116, 241, 123), rgb(11, 206, 28));
}

.overflow {
	overflow: hidden;
}

.mover_imagen-servicios {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h3,
p {
	font-family: "comic sans ms";
	padding: 2%;

}

.padding {
	padding: -3px 50px;
}

.margin {
	margin: 50px;
}

.margin-50 {
	margin: 30px;
}